<div class="container mt-3">
  <app-count-empleados
    [todos]="obtenerTotalEmpleados()"
    [femeninos]="obtenerTotalFemeninos()"
    [masculinos]="obtenerTotalMasculinos()"
    (countRadioButtonChange)="empleadoCountRadioButtonChange($event)"
  ></app-count-empleados>
  <div class="card mt-3">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let empleado of listEmpleados">
            <tr
              *ngIf="
                radioButtonSeleccionado == 'Todos' ||
                radioButtonSeleccionado == empleado.sexo
              "
            >
              <td>{{ empleado.legajo }}</td>
              <td>{{ empleado.nombre }}</td>
              <td>{{ empleado.apellido }}</td>
              <td>{{ empleado.sexo }}</td>
              <td>{{ empleado.salario | currency }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
